In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\akhil\OneDrive\Desktop\pandas\Car dekho.csv")
df.head()

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0

In [10]:
df.shape
df.dtypes
df.describe()

              year  selling_price     km_driven        seats
count  8148.000000   8.148000e+03  8.148000e+03  7927.000000
mean   2013.824006   6.401217e+05  6.967571e+04     5.415668
std       4.059542   8.085638e+05  5.655716e+04     0.958604
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.750000e+04     5.000000
max    2023.000000   1.000000e+07  2.360457e+06    14.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8148 entries, 0 to 8147
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           8148 non-null   object
 1   year           8148 non-null   int64
 2   selling_price  8148 non-null   int64
 3   km_driven      8148 non-null   int64
 4   fuel           8148 non-null   object
 5   seller_type    8148 non-null   object
 6   transmission   8148 non-null   object
 7   owner          8148 non-null   object
 8   mileage        7927 non-null   object
 9   engine         7927 non-null   object
 10  max_power      7933 non-null   object
 11  torque         7926 non-null   object
 12  seats          7927 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 827.7+ KB

In [4]:
df.isna().sum()

Name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [5]:
df.dropna(subset=['max_power'],inplace=True)

In [6]:
df.isna().sum()

Name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          6
engine           6
max_power        0
torque           7
seats            6
dtype: int64

In [7]:
df['mileage'].mode()[0]

'18.9 kmpl'

In [8]:
df['mileage']=df['mileage'].fillna(df['mileage'].mode()[0])

In [20]:
df.isna().sum()

Name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [10]:
df['engine'].fillna(df['engine'].mode()[0],inplace=True)

In [11]:
df['engine']=df['engine'].fillna(df['engine'].mode()[0])

In [13]:
df['torque'].mode()[0]

'190Nm@ 2000rpm'

In [14]:
df['torque'].fillna(df['engine'].mode()[0],inplace=True)

In [15]:
df['torque']=df['torque'].fillna(df['engine'].mode()[0])

In [17]:
df['seats'].mode()[0]

5.0

In [18]:
df['seats'].fillna(df['seats'].median())

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8139    4.0
8140    4.0
8142    4.0
8143    5.0
8145    4.0
Name: seats, Length: 7933, dtype: float64

In [19]:
df['seats']=df['seats'].fillna(df['seats'].median())

In [40]:
df.shape

(7933, 13)

In [23]:
df['seats'].max()
df['seats'].idxmax()
df.loc[7030]

Name             Tata Winger Deluxe - Flat Roof (Non-AC)
year                                                2010
selling_price                                     235000
km_driven                                          50000
fuel                                              Diesel
seller_type                                   Individual
transmission                                      Manual
owner                                        First Owner
mileage                                       10.71 kmpl
engine                                           1948 CC
max_power                                         90 bhp
torque                               190Nm@ 2000-3000rpm
seats                                               14.0
Name: 7030, dtype: object

In [27]:
df.reset_index(drop=True,inplace=True)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7928,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7929,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7930,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7931,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
7932,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [24]:
df.duplicated().sum()

1192

In [31]:
df.drop_duplicates(inplace=True)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7928,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7929,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7930,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
7931,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
7932,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [33]:
df.reset_index(drop=True,inplace=True)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6736,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6737,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6738,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6739,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6740,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [43]:
q1=df['seats'].quantile(0.25)
q3=df['seats'].quantile(0.75)
iqr=q3-q1
min_range=q1-1.5*iqr
max_range=q3+1.5*iqr

In [44]:
min_range

5.0

In [45]:
max_range

5.0

In [48]:
a=df['seats'].value_counts()
a

seats
5.0     5277
7.0      966
8.0      222
4.0      124
9.0       74
6.0       57
10.0      18
2.0        2
14.0       1
Name: count, dtype: int64

In [52]:
b=a[a>100].index
b

Index([5.0, 7.0, 8.0, 4.0], dtype='float64', name='seats')

In [54]:
df[df['seats'].isin(b)]

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6736,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6737,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6738,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6739,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6740,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [58]:
df1=df.copy

In [60]:
df.shape

(6741, 13)

In [62]:
df2=df[df['seats'].isin(b)]
df2

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6736,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6737,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6738,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6739,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6740,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [64]:
df2['seats'].max()

8.0

In [69]:
df.shape

(6741, 13)

In [81]:
q1=df['selling_price'].quantile(0.25)
q3=df['selling_price'].quantile(0.75)
iqr=q3-q1
iqr
min_range=q1-1.5*iqr
max_range=q3+1.5*iqr

In [95]:
min_range
max_range

1250000.0

In [106]:
dic1={}
for i in df:
    if df[i].dtype=='int64' or df[i].dtype=='float':
        q1=df[i].quantile(0.25)
        q3=df[i].quantile(0.75)
        iqr=q3-q1
        min_range=q1-1.5*iqr
        max_range=q3+1.5*iqr
        dic1[i]=(min_range,max_range)

In [107]:
dic1

{'year': (2002.0, 2026.0),
 'selling_price': (-350000.0, 1250000.0),
 'km_driven': (-57500.0, 194500.0),
 'seats': (5.0, 5.0)}